<style>
        .bg-light {
            background-color: rgb(156, 156, 156) !important;
        }
        .agdasima-regular {
        font-family: "Agdasima", sans-serif !important;
        font-weight: 400;
        font-style: normal;
        }
        .agdasima-bold {
          font-family: "Agdasima", sans-serif !important;
          font-weight: bold;
          font-style: normal;
        }
        
      </style>
{{#if user.role }}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-dark agdasima-bold" href="/">Eagle's Eye</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bold agdasima-regular" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold agdasima-regular" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold agdasima-regular" href="/contacto">Contacto</a>
        </li>
        <li>
          <input id="logoutSession" type="submit" value="Log out">
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}
{{#unless user.role }}
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-dark agdasima-bold" href="/">Eagle's Eye</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fw-bold agdasima-regular" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold agdasima-regular" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold agdasima-regular" href="/contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold agdasima-regular" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold agdasima-regular" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {{/unless}}
  <main>
<div class="agdasima-bold" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="display: flex; margin-bottom: 2rem; justify-content: center;">
    <img src="../img/LOGO EAGLE EYE.png" style="width: 30%; height: auto;" alt="">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; width: 200px; text-align: center;">
      <h1 style="width: 100%; margin: 0;">EAGLE'S EYE</h1>
      <h1 style="width: 100%; margin: 0;">ARCHERY VISION</h1>
    </div>
  </div>
  <div class="agdasima-bold" style="margin: 3rem; display: flex;">
    <div style="padding: 1rem;">
      <h1>MISIÓN</h1>
      <h2>Nuestra misión en Eagle's Eye Archery Vision es empoderar a los arqueros de todos los niveles a alcanzar su máximo potencial mediante el uso de tecnología avanzada. Nos comprometemos a diseñar productos innovadores que mejoren la precisión, la técnica y la experiencia de tiro, proporcionando herramientas que transformen cada disparo en un acierto.</h2>
    </div>
    <div style="padding: 1rem;"> 
      <h1>VISIÓN</h1>
      <h2>Nuestra visión es ser líderes en la industria de la tecnología de tiro con arco, reconocidos por nuestra dedicación a la innovación y la calidad. Aspiramos a inspirar a una nueva generación de arqueros, promoviendo un enfoque apasionado y técnico hacia el tiro con arco, mientras establecemos estándares de excelencia en la experiencia del usuario.</h2>
    </div>
  </div>
</div>
</main>


  <script src="/js/logout.js"></script>